<!DOCTYPE html>
<html ng-app="FrontOffice" ng-strict-di>
<head>

    <title>ACBA Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Content/Angular/mainangular")
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-modal-service.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/chosen_v1.0.0/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/chosen_v1.0.0/chosen.jquery.js"></script>
    <link rel="image-src" src="~/Scripts/chosen_v1.0.0/chosen-sprite.png" />
    <script src="~/Scripts/angular-chosen-master/angular-chosen-master/chosen.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/angular-breadcrumb.min.js"></script>
    <script src="~/Scripts/numeral/numeral.min.js"></script>
    <script src="~/Scripts/jquery-dialogextend 2.0.4.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/fcsaNumber.js"></script>
    <!-- concatenated flow.js + ng-flow libraries -->
    <script src="~/Scripts/ng-flow-2.6.1/ng-flow-standalone.min.js"></script>


    <link href="~/Content/newTheme/css/expandDiv.css" rel="stylesheet" />
    <!-- Icons -->
    <link href="~/Content/newTheme/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/newTheme/css/icons.css" rel="stylesheet">
    <link href="~/Content/newTheme/css/animate.css" rel="stylesheet">
    <link href="~/Content/newTheme/css/style.css" rel="stylesheet">

    <link href="~/Content/newTheme/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="~/Content/newTheme/css/plugins.css" rel="stylesheet">
    <!-- Main stylesheets (template main css file) -->
    <link href="~/Content/newTheme/css/main.css" rel="stylesheet">

    <link href="~/Content/newTheme/css/menu-style.css" rel="stylesheet">

    <!--Notification -->
    <link href="~/Content/newTheme/css/notes.css" rel="stylesheet">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc">



    @Styles.Render("~/Content/themes/base/css")

    <script src="~/Content/newTheme/js/notes.js"></script>

    <script src="~/Content/newTheme/js/jquery.mousewheel.min.js"></script>
    <script src="~/Content/newTheme/js/jquery.mCustomScrollbar.js"></script>

    <script src="~/Content/newTheme/js/script.js"></script>
    <!-- Handle responsive view functions -->
    <script src="~/Content/newTheme/js/jRespond.min.js"></script>
    <!-- Custom scroll for sidebars,tables and etc. -->

    <script src="~/Content/newTheme/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/newTheme/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>

    <script src="~/Content/newTheme/js/libs/date.js"></script>

    <script src="~/Scripts/xlsx/xlsx.core.min.js"></script>
    <script src="~/Scripts/xlsx/xlsx.full.min.js"></script>



    <script type="text/javascript">

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        }

        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $(document).mouseup(function (e) {
            var container = $("#applicationMainMenu");
            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                container.hide('slide', { direction: "up" }, 500);
                document.querySelector(".overlay").classList.add("display-none");
            }
        });


    </script>



    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }

        #arrow-down {
            margin-left: 0px;
        }

        #menu li {
            padding-right: 1px;
        }

        #cssmenu ul li > a {
            padding-left: 4px;
            padding-right: 1px;
        }

        #menu ul a {
            padding: 8px;
        }
    </style>
</head>
<body class="fixed-header fixed-left-sidebar fixed-right-sidebar pace-done">
    <sessionproperties id="sessionpropertie"></sessionproperties>
    <div id="Loader" class="overlayLoading hidden">
        <img class="loader-image non-selectable" src="../../Content/Images/invisible.png" />
    </div>
    <div id="header" class="page-navbar header-fixed">
        <!-- .no-collapse -->
        <div id="navbar-no-collapse" class="navbar-no-collapse">
            <!-- top left nav -->
            <ul class="nav navbar-nav">
                <li class="navbar-item-right-border" onclick="SlideApplicationAreas()">
                    <a id="applicationAreaWrapper tipB" data-original-title="Հիմնական մենյու">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Հիմնական մենյու</span>
                    </a>
                </li>
                <li>
                    <img class="logo" src="~/Content/newTheme/Images/logo-white.png">
                    <span class="menubar-title">ACBA BANKING SOFTWARE</span>
                </li>
                <li style="margin-left:20px;background-color:white;visibility:hidden" id="forTest">
                    <span class="menubar-title" style="color:red">Ուշադրություն տեստային տարբերակ &nbsp;</span>
                </li>
            </ul>
            <!-- / top left nav -->
            <!-- top right nav -->
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-item-left-border navbar-item-right-border" ng-controller="PopUpCtrl" ng-click="openWindow('/ExchangeRate/ExchangeRates','Փոխարժեքներ','exchangerates')">
                    <a id="notificationNavBar" class="tipB button-default show-notifications js-show-notifications" title="" data-original-title="Փոխարժեքներ">
                        <i class="fa fa-exchange"></i>
                    </a>
                </li>
                <li class="navbar-item-left-border navbar-item-right-border">
                    <a id="notificationNavBar" class="tipB button-default show-notifications js-show-notifications" onclick="ShowNotifications(this)" title="" data-original-title="{{$root.notificationCount!=0?'Հաղորդագրություններ':'Նոր հաղորդագրություններ առկա չեն'}}">
                        <i class="fa fa-bell"></i>
                        <span ng-show="$root.notificationCount" class="notifications-count js-count" data-count="{{$root.notificationCount}}">{{$root.notificationCount}}</span>
                    </a>
                </li>
                <li>
                    <span class="menubar-title" style="font-weight: normal;line-height:0px !important">Գործառնական օր՝</span><br />
                    <span class="menubar-title" style="font-weight: normal;line-height:0px !important">{{$root.SessionProperties.OperationDate | date: 'dd/MM/yyyy' }} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </li>
                <li id="EndCustomerServiceSession">
                    <a class="navbar-item-left-border end-service tipB" style="padding: 13px 12px !important;" data-original-title="Վերադառնալ" ng-controller="LoginCtrl" ng-click="exitToCustomer()">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
                <li>
                    <a id="nav-logout-item" class="tipB user-icon" title="" style="background-image: url({{$root.userPicture!=undefined?$root.userPicture:'/Content/newTheme/Images/bluemanmxxl.png'}});background-size:cover" data-original-title="Դուրս գալ համակարգից" onclick="ShowLogoutContainer()">
                    </a>
                </li>
            </ul>
            <!-- / top right nav -->
        </div>
        <!-- / collapse -->
    </div>
    <div id="applicationMainMenu" class="application-area-wrapper application-nav-menu area-nav-menu" style="display:none; top:50px !important;">
        <div class="full-screen-nav-content" style="display:inline-block;">
            <div class="row-no-margin">
                <ul class="menu full-screen-nav-boxes operation-menu">
                    <li id="cashOperations" class="operation-menu-item">
                        <a class="cashOperations">
                            <i class="fa fa-money"></i>
                            Կանխիկ գործարքներ
                        </a>
                    </li>
                    <li id="exchange" class="operation-menu-item">
                        <a onclick="SlideApplicationAreas();" ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-click="params={orderType:53,checkForDebitAccount:1,checkForReciverAccount:1,nonauthorizedcustomer:true};openWindow('/CurrencyExchangeOrder/PersonalCurrencyExchangeOrder','Փոխարկում','exchangeorder')">
                            <i class="fa fa-exchange"></i>
                            Փոխարկում
                        </a>
                    </li>
                    <li id="utilityPayments" class="operation-menu-item">
                        <a onclick="sessionStorage.removeItem('utilityPayment')">
                            <i class="fa fa-home"></i>
                            Կոմունալ վճարում
                        </a>
                    </li>

                </ul>
            </div>
            <div class="row-no-margin">
                <ul class="menu full-screen-nav-boxes operation-menu">
                    <li id="operationHistory" class="operation-menu-item">
                        <a onclick="SlideApplicationAreas();" ui-sref="Orders({ nonauthorizedcustomer:'true' })">
                            <i class="fa fa-history"></i>
                            Գործարքների պատմություն
                        </a>
                    </li>
                    <li id="application" class="operation-menu-item">
                        <a onclick="SlideApplicationAreas();" ng-controller="PopUpCtrl" ng-click="params={checkForDebitAccount:1,checkforfeeaccount:1,nonauthorizedcustomer:true};openWindow('/FeeForServiceProvidedOrder/FeeForServiceProvidedOrder','Մատուցվող ծառայությունների միջնորդավճարի գանձման հայտ','serviceProvidedFeeOrder')">
                            <i class="fa fa-pencil-square-o"></i>
                            Հայտեր
                        </a>
                    </li>
                    <li id="allDahkDetails">
                        <a onclick="SlideApplicationAreas()" ui-sref="AllDahkDetails({ nonauthorizedcustomer:'true' })">
                            <i class="fa fa-credit-card"></i>
                            ԴԱՀԿ
                        </a>
                    </li>
                    <li id="exchangeRates" class="operation-menu-item">
                        <a onclick="SlideApplicationAreas();" ng-controller="PopUpCtrl" ng-click="openWindow('../ExchangeRate/ExchangeRates','Փոխարժեքներ','exchangerates')">
                            <i class="fa fa-dollar"></i>
                            Փոխարժեքներ
                        </a>
                    </li>
                    <li id="calculators" class="operation-menu-item">
                        <a onclick="SlideApplicationAreas();" href="https://www.acba.am/hy/calculators" target="_blank">
                            <i class="fa fa-money"></i>
                            Հաշվիչներ
                        </a>
                    </li>
                    <li id="transitAcounts" class="operation-menu-item" ng-if="$root.SessionProperties.IsChiefAcc">
                        <a onclick="SlideApplicationAreas();" ui-sref="transitAccounts()">
                            <i class="fa fa-product-hunt"></i>
                            Տարանցիկ հաշիվներ
                        </a>
                    </li>


                </ul>
            </div>
            <div id="subItems">
                <div id="cashOperationsDiv" class="content full-screen-nav-content">
                    <ul class="full-screen-nav-boxes">
                        <li>
                            <a onclick="SlideApplicationAreas()" ng-controller="PopUpCtrl" ng-click="openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder')">
                                <i class="fa fa-credit-card"></i>
                                Մուտք տարանցիկ հաշվին
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas();" ng-controller="PopUpCtrl" ng-click="params={checkForDebitAccount:1,checkForReciverAccount:1,forTransitTransfers:true,orderType:80,nonauthorizedcustomer:true};openWindow('/CurrencyExchangeOrder/PersonalCurrencyExchangeOrder','Տարանցիկ հաշվին մուտք փոխարկոմով','exchangeorder')">
                                <i class="fa fa-exchange"></i>
                                Տարանցիկ հաշվին մուտք փոխարկոմով
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas()" ng-controller="PopUpCtrl" ng-click="params={orderType:56,orderSubType:1,checkForDebitAccountTransferArmPayment:1,checkForFeeAccount:1,nonauthorizedcustomer:true};openWindowWithTemplate('transferarmpaymentorder','Փոխանցում ՀՀ տարածքում','transferarmpaymentorder')">
                                <i class="fa fa-money"></i>
                                Փոխանցում ՀՀ տարածքում
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas()" ng-controller="PopUpCtrl" ng-click="params={orderType:56,orderSubType:5,checkForDebitAccountBudgetPayment:1,checkForFeeAccount:1,nonauthorizedcustomer:true};openWindowWithTemplate('budgetorder','Փոխանցում բյուջե','budgetpaymentorder')">
                                <i class="fa fa-credit-card"></i>
                                Փոխանցում բյուջե
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas()" ng-controller="PopUpCtrl" ng-click="params={nonauthorizedcustomer:true};openWindowWithTemplate('cashpospaymentorder','Կանխիկացում POS տերմինալով','cashpospaymentorder')">
                                <i class="fa fa-credit-card"></i>
                                Կանխիկացում POS տերմինալով
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas()" ng-controller="PopUpCtrl" ng-click="params={interBankTransfer:true,checkForDebitAccountTransferArmPayment:1,checkForFeeAccount:0,orderType:1,interBankTransferCash:true,nonauthorizedcustomer:true};openWindowWithTemplate('transferarmpaymentorder','Միջմասնաճյուղային փոխանցում','transferarmpaymentorder')">
                                <i class="fa fa-credit-card"></i>
                                Միջմասնաճյուղային փոխանցում
                            </a>
                        </li>
                        <li id="vehicleViolation" class="operation-menu-item">
                            <a onclick="SlideApplicationAreas();" ui-sref="vehicleViolations({ nonauthorizedcustomer:'true' })">
                                <i class="fa fa-history"></i>
                                ՃՈ փոխանցում
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="utilityPaymentsDiv" class="content full-screen-nav-content">
                    <ul class="full-screen-nav-boxes">
                        <li ui-sref-active="active">
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 12,nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Ընդհանուր որոնում հեռախոսով
                            </a>
                        </li>

                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 3, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-product-hunt"></i>
                                Էլեկտրական ցանցեր
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 4, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-product-hunt"></i>
                                Գազպրոմ Հայաստան
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 6, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-money"></i>
                                Վեոլիա Ջուր
                            </a>
                        </li>

                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 7, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Բիլայն
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 17, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Բիլայն Ինտերնետ
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 8, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-money"></i>
                                ՄՏՍ ՀԱՅԱՍՏԱՆ
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 10, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Ucom բջջային
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 11, nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Ucom
                            </a>
                        </li>

                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 13,nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Հեռախոսավարձի վճարում
                            </a>
                        </li>

                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 9,nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                Աղբահանության վճարում
                            </a>
                        </li>

                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 14,nonauthorizedcustomer:'true' })">
                                <i class="fa fa-credit-card"></i>
                                ՋՕԸ-ների վճարում
                            </a>
                        </li>
                        <li>
                            <a onclick="SlideApplicationAreas(); sessionStorage.removeItem('utilityPayment');" ui-sref="searchUtilityPayment({ utilityType : 15,nonauthorizedcustomer:'true',isreestr:'true' })">
                                <i class="fa fa-credit-card"></i>
                                ՋՕԸ-ների վճարում ռեեստրով
                            </a>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
    <div id="wrapper" style="height:calc(100% - 50px);">
        <div class="content-container" style="width:100%; height: 100%;margin-top:50px;float:left;">
            <div id="ContentMenuBar" class="menu-bar dialog-menu light-green" style="margin-bottom:0px;">
                <div id="ContentMenuBar" class="menu-bar dialog-menu light-green">
                    <ul id="menu" class="dialog-menu">
                        <li class="root-menu-item-2 " data-permission-selector="" id="menuCustomerDebts" style="display:none;" onclick="CollapseDebtsContainer()">
                            <span id="h-menu-item-2"><img id="customerDebtsIcon" class="h-menu-icon h-menu-customer-debt customerDebtsButtonActive">Պարտավորություններ</span>
                        </li>

                        <li id="cssmenu" class="root-menu-item-8 " data-permission-selector="">
                            <span id="h-menu-item-8" onclick="return false;">
                                Կանխիկ գործարքներ
                                <img id="arrow-down" class="arrowButton">
                            </span>
                            <ul>
                                <li>
                                    <a href="" ng-controller="PopUpCtrl" ng-click="openWindowWithTemplate('transitpaymentorder','Մուտք տարանցիկ հաշվին','transitpaymentorder')">
                                        Մուտք տարանցիկ հաշվին
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-click="params={checkForDebitAccount:1,checkForReciverAccount:1,forTransitTransfers:true,orderType:80,nonauthorizedcustomer:true};openWindow('/CurrencyExchangeOrder/PersonalCurrencyExchangeOrder','Տարանցիկ հաշվին մուտք փոխարկոմով','exchangeorder')">
                                        Տարանցիկ հաշվին մուտք փոխարկոմով
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-class="{'my_disable':disabelButton==true}" ng-controller="PopUpCtrl" ng-click="params={orderType:53,checkForDebitAccount:1,checkForReciverAccount:1,nonauthorizedcustomer:true};openWindow('/CurrencyExchangeOrder/PersonalCurrencyExchangeOrder','Փոխարկում','exchangeorder')">

                                        Փոխարկում
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-controller="PopUpCtrl" ng-click="params={nonauthorizedcustomer:true};openWindowWithTemplate('cashpospaymentorder','Կանխիկացում POS տերմինալով','cashpospaymentorder')">

                                        Կանխիկացում POS տերմինալով
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="cssmenu" class="root-menu-item-8 " data-permission-selector="">
                            <span id="h-menu-item-8" onclick="return false;">
                                Փոխանցումներ
                                <img id="arrow-down" class="arrowButton">
                            </span>
                            <ul>
                                <li>
                                    <a href="" ng-controller="PopUpCtrl" ng-click="params={orderType:56,orderSubType:1,checkForDebitAccountTransferArmPayment:1,checkForFeeAccount:1,nonauthorizedcustomer:true};openWindowWithTemplate('transferarmpaymentorder','Փոխանցում ՀՀ տարածքում','transferarmpaymentorder')">
                                        Փոխանցում ՀՀ տարածքում
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-controller="PopUpCtrl" ng-click="params={orderType:56,orderSubType:5,checkForDebitAccountBudgetPayment:1,checkForFeeAccount:1,nonauthorizedcustomer:true};openWindowWithTemplate('budgetorder','Փոխանցում բյուջե','budgetpaymentorder')">
                                        Փոխանցում բյուջե
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-controller="PopUpCtrl" ng-click="params={interBankTransfer:true,checkForDebitAccountTransferArmPayment:1,checkForFeeAccount:0,orderType:1,interBankTransferCash:true,nonauthorizedcustomer:true};openWindowWithTemplate('transferarmpaymentorder','Միջմասնաճյուղային փոխանցում','transferarmpaymentorder')">

                                        Միջմասնաճյուղային փոխանցում
                                    </a>
                                </li>
                                <li>
                                    <a href="" ui-sref="vehicleViolations({ nonauthorizedcustomer:'true' })">

                                        ՃՈ փոխանցում
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="cssmenu" class="root-menu-item-8 " data-permission-selector="">
                            <span id="h-menu-item-8" onclick="return false;">
                                Կոմունալ վճարում
                                <img id="arrow-down" class="arrowButton">
                            </span>
                            <ul>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 12 , nonauthorizedcustomer:'true' })">

                                        Ընդհանուր որոնում հեռախոսով
                                    </a>
                                </li>

                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 3  , nonauthorizedcustomer:'true' })">

                                        Էլեկտրական ցանցեր
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 4 , nonauthorizedcustomer:'true' })">

                                        Գազպրոմ Հայաստան
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 6 , nonauthorizedcustomer:'true' })">

                                        Վեոլիա Ջուր
                                    </a>
                                </li>

                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 7 , nonauthorizedcustomer:'true' })">

                                        Բիլայն
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 17, nonauthorizedcustomer:'true' })">

                                        Բիլայն Ինտերնետ
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 8 , nonauthorizedcustomer:'true' })">

                                        ՄՏՍ ՀԱՅԱՍՏԱՆ
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 10 , nonauthorizedcustomer:'true' })">
                                        Ucom բջջային
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 11 , nonauthorizedcustomer:'true' })">
                                        Ucom
                                    </a>
                                </li>

                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 13 , nonauthorizedcustomer:'true' })">
                                        Հեռախոսավարձի վճարում
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 9 , nonauthorizedcustomer:'true'})">
                                        Աղբահանության վճարում
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment'); sessionStorage.removeItem('COWaterdetail'); sessionStorage.removeItem('debtListDate');" ui-sref="searchUtilityPayment({ utilityType : 14 , nonauthorizedcustomer:'true'})">
                                        ՋՕԸ-ների վճարում
                                    </a>
                                </li>
                                <li>
                                    <a href="" onclick="sessionStorage.removeItem('utilityPayment')" ui-sref="searchUtilityPayment({ utilityType : 15 , nonauthorizedcustomer:'true',isreestr:'true' })">
                                        ՋՕԸ-ների վճարում ռեեստրով
                                    </a>
                                </li>
                            </ul>
                        </li>




                    </ul>
                    <div id="right-menu">
                        <div class="end-service-session tipB" style="padding-right: 15px!important;" ng-controller="LoginCtrl" ng-click="exitToCustomer()" data-original-title="Ավարտել սպասարկումը" id="exitToCustomer">Ավարտել</div>
                    </div>
                </div>

            </div>
            <div class="page-content-wrapper global-content" style="height: calc(100% - 75px);">

                <div class="page-body" ui-view="">
                    @RenderBody()
                </div>
            </div>
            <div class="invisible-minimized-items-container">

            </div>

            <div class="minimized-dialog-container">
                <div class="overflow-button fa fa-ellipsis-h" onclick="ShowHiddenDialogs()"></div>
            </div>
            <div class="footer" style="height:40px; padding-top:5px">
                <hr>
                <div style="display:inline-block; max-width: calc(100% - 220px);padding-bottom: 10px; padding-left:8px;">
                    <p class="pull-left">
                        <div>
                            <div class="text-truncate" style="margin-right:10px;"><text>©</text>2016 | «ԱԿԲԱ ԲԱՆԿ» ԲԲԸ | Բոլոր իրավունքները պաշտպանված են:</div>
                        </div>
                    </p>
                </div>
                <div style="display:inline-block; float:right; min-width: 220px; padding-left:5px; padding-right:8px;">
                    <p class="pull-right">
                        <img id="footer-logo" src="~/Content/newTheme/Images/acba-logo.png" />
                    </p>
                </div>

            </div>

        </div>
    </div>



    <div class="overlay display-none">

    </div>
    <div id="LogoutContainer" hidden ng-controller="CasherCtrl" ng-init="getUserDescription();getCasherDepartment();getCurrentUserPicture()">
        <div class="top-container">
            <div class="logo-container">
                <div class="picture-container">
                    <img class="big-man" ng-src="{{::userPicture}}" />
                </div>
            </div>
            <div class="user-data">
                <div style="padding-bottom: 8px;">
                    <div class="details" style="font-weight:bold;">{{::userDescription}}</div>
                    <div class="details" style="font-weight:bold;"></div>
                </div>
                <div style="padding-bottom: 8px;">
                    <div class="details">{{::casherDepartment.value}}</div>
                </div>


            </div>
        </div>
        <div class="button-container">
            <div class="logout-button"> <a ng-click="logout()">Դուրս գալ</a></div>

            <script>
                $("#exit").click(function (e) {
                    e.preventDefault();
                    $.ajax({ type: "POST", data: {}, dataType: "json", url: "../Login/LogOut" })
                        .success(function (data) {
                            window.location = data.redirectUrl;

                        });
                });

                window.alert = function () { };
            </script>

        </div>
    </div>

    <notificationpanel></notificationpanel>

    <script>
                (function ($) {
                    $(window).on('load', function () {
                        $(".page-content-wrapper").mCustomScrollbar({
                            theme: "rounded-dark",
                            scrollButtons: {
                                scrollAmount: 200,
                                enable: true
                            },
                            mouseWheel: {
                                scrollAmount: 200
                            }
                        });
                    });
                })(jQuery);
    </script>
    <script type="text/javascript">



                (function () {

                    // Append a close trigger for each block
                    $('#subItems .content').append('<span class="my_close close"></span>');
                    // Show window
                    function showContent(elem) {
                        hideContent();
                        var divId = "#" + elem.attr('id') + "Div";
                        $(divId).addClass('expanded');
                        elem.addClass('cover');
                    }
                    // Reset all
                    function hideContent() {
                        $('#subItems .content').removeClass('expanded');
                        $('.menu li').removeClass('cover');
                    }

                    // When a li is clicked, show its content window and position it above all
                    $('.menu li').click(function () {
                        showContent($(this));
                    });
                    // When tabbing, show its content window using ENTER key
                    $('.menu li').keypress(function (e) {
                        if (e.keyCode == 13) {
                            showContent($(this));
                        }
                    });

                    // When right upper close element is clicked  - reset all
                    $('#subItems .close').click(function (e) {
                        e.stopPropagation();
                        hideContent();
                    });
                    // Also, when ESC key is pressed - reset all
                    $(document).keyup(function (e) {
                        if (e.keyCode == 27) {
                            hideContent();
                        }
                    });

                })();
    </script>

    <script type="text/javascript">
                //------------- Bootstrap tooltips -------------//
                $("[data-toggle=tooltip]").tooltip({ container: 'body' });
                $(".tip").tooltip({ placement: 'top', container: 'body' });
                $(".tipR").tooltip({ placement: 'right', container: 'body' });
                $(".tipB").tooltip({ placement: 'bottom', container: 'body' });
                $(".tipL").tooltip({ placement: 'left', container: 'body' });
                //------------- Bootstrap popovers -------------//
                $("[data-toggle=popover]").popover();
    </script>


</body>
</html>
