@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/Content/Angular/main")
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/angular-modal-service.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular-chosen-master/angular-chosen-master/chosen.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
<script src="~/Content/style.css"></script>
<script src="~/Scripts/angular-breadcrumb.min.js"></script>
<script src="~/Scripts/fcsaNumber.js"></script>
<!-- concatenated flow.js + ng-flow libraries -->
<script src="~/Scripts/ng-flow-2.6.1/ng-flow-standalone.min.js"></script>
<div ng-app="FrontOffice" >
    <smsauthorization></smsauthorization>
</div>